<nav>

    <mat-expansion-panel hideToggle>

        <mat-expansion-panel-header>

            <mat-panel-title>
                <mat-icon>person_outline</mat-icon> Afiliados
            </mat-panel-title>

        </mat-expansion-panel-header>

        <div>

            <mat-expansion-panel-header routerLink="afiliados">

                <mat-panel-title>
                    <mat-icon>person_outline</mat-icon> Afiliados
                </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-expansion-panel-header routerLink="afiliados/crear">

                <mat-panel-title>
                    <mat-icon>person_add_alt</mat-icon> Crear Afiliados
                </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-expansion-panel-header routerLink="afiliafos/actualizar/monto">

                <mat-panel-title>
                    <mat-icon>update</mat-icon> Actualizar Monto
                </mat-panel-title>

            </mat-expansion-panel-header>

        </div>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>

        <mat-expansion-panel-header>

            <mat-panel-title>
                <mat-icon>person_outline</mat-icon> Plan
            </mat-panel-title>

        </mat-expansion-panel-header>

        <div>

            <mat-expansion-panel-header routerLink="planes">

                <mat-panel-title>
                    <mat-icon>person_outline</mat-icon> Planes
                </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-expansion-panel-header routerLink="planes/crear">

                <mat-panel-title>
                    <mat-icon>person_add_alt</mat-icon> Crear Plan
                </mat-panel-title>

            </mat-expansion-panel-header>

        </div>

    </mat-expansion-panel>

</nav>