div {
    margin: 20px;
}

mat-toolbar {
    background: black;
    margin-bottom: 30px;
}

#logo {
    width: 200px;
    height: 100px;
}

label {
    position: relative;
    top: 10px;
    color: white;
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.container2 {
    width: 100%;
    height: Calc(100vh - 133px);
    margin-top: 5px;
    border: 1px solid lightgray;
    border-radius: 15px 15px 15px 15px;
    float: right;
}

.container {
    width: Calc(85% - 18px);
    height: Calc(100vh - 140px);
    margin-top: 5px;
    border: 1px solid lightgray;
    border-radius: 0px 15px 15px 0px;
    float: right;
}

#DivProfile {
    color: white;
    position: absolute;
    right: -10px;
}

#ImgProfile {
    width: 50px;
    height: 50px;
}

.cursor {
    cursor: pointer;
}

mat-label {
    margin: 3px;
}

#DivProfile .laberProfile {
    cursor: pointer;
}

#DivProfile .laberProfile:hover {
    color: grey;
}